html, body, main {
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }
a:hover {
  text-decoration: underline;
}

.main-content {
  margin: -24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 20px;
}

.main-logo {
  margin: 16px;
}

.main-logo img {
  width: 160px;
  height: 160px;
  border-radius: 32px;
}

.about-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-apple {
  width: auto;
  height: 40px;
}

.img-goog {
  width: auto;
  height: 60px;
}

.message {
  width: 300px;
  font-size: 10px;
  color: black;
  opacity: 0.4;
}

h2 {
  font-size: 12px;
}
